.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background: #becb0a;
  border-radius: 8px;
}

.title {
  margin: 20px 0;
}

@media only screen and (max-width: 900px) {
  .cta {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
}
