.hero {
  display: flex;
  gap: 20px;
  height: 600px;
}

.leftDiv {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightDiv {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .leftDiv {
    width: 100%;
  }
  .rightDiv {
    width: 100%;
  }
}
